node-linker=hoisted
supported-architectures[os][]=current
supported-architectures[os][]=linux
supported-architectures[cpu][]=current
supported-architectures[cpu][]=x64
supported-architectures[libc][]=current
supported-architectures[libc][]=glibc
